{% extends 'base.html' %}


{% block title %}
    Главная страница
{% endblock %}



{% block content %}
    <h1>Главная страница</h1>
    <li>Lorem ipsum dolor sit amet.</li>
    <li>Atque dignissimos labore libero sunt.</li>
    <li>Debitis eligendi itaque numquam ratione?</li>
    <li>Maxime molestiae molestias non quae.</li>
    <li>At fugiat ratione sed suscipit!</li>
    <li>Illum modi optio quo repellendus?</li>
    <li>Dicta laboriosam omnis quibusdam tempora!</li>
    <li>Distinctio laboriosam nam natus repudiandae?</li>
    <li>Excepturi neque quae rem temporibus.</li>
    <li>Accusamus aliquam dicta quidem repellat.</li>
    <li>Excepturi exercitationem hic pariatur porro.</li>
    <li>Ipsum iste quidem rerum temporibus.</li>
    <li>Delectus, harum, perspiciatis. Cum, pariatur.</li>
    <li>Expedita itaque libero obcaecati tempora!</li>
    <li>Deserunt exercitationem ipsam non officiis.</li>
    <li>Autem ea in recusandae sequi.</li>
    <li>Adipisci consequatur dolorem ipsum minima.</li>
    <li>Hic laudantium magnam necessitatibus possimus?</li>
    <li>Cupiditate deserunt est in ipsam?</li>
    <li>Deserunt eum hic quasi reiciendis.</li>
    <li>Consectetur ipsa ipsum perferendis quis!</li>
    <li>Blanditiis consequuntur magni odit quae.</li>
    <li>Culpa laboriosam nisi porro quia?</li>
    <li>Ad consequuntur facilis in optio.</li>
    <li>Asperiores necessitatibus suscipit veniam voluptas?</li>
    <li>Ab asperiores harum magnam quidem!</li>
    <li>Eligendi ipsum numquam quod ratione!</li>
    <li>Dolores ducimus nam non soluta.</li>
    <li>Aliquid assumenda et molestiae quis.</li>
    <li>Amet hic impedit perspiciatis repudiandae.</li>
    <li>Alias dolorum illum modi quo!</li>
    <li>Culpa cupiditate in odit saepe!</li>
    <li>Dolores enim impedit odit sapiente?</li>
    <li>Corporis dolorum harum qui ratione?</li>
    <li>Autem debitis fuga harum perspiciatis!</li>
    <li>Dolore eos harum quis vel.</li>
    <li>Aspernatur magnam placeat ullam voluptatem?</li>
    <li>Explicabo facere fugit unde voluptates.</li>
    <li>Error illo mollitia perspiciatis quidem?</li>
    <li>Cumque expedita nisi qui sint!</li>
    <li>Distinctio nisi placeat temporibus tenetur.</li>
    <li>Accusamus eveniet impedit officiis vitae.</li>
    <li>Aperiam facere iure labore obcaecati?</li>
    <li>Ad distinctio iure quae veniam.</li>
    <li>Aliquam fuga provident quo. Adipisci.</li>
    <li>Labore maxime natus neque officiis.</li>
    <li>Enim eum maxime nemo velit.</li>
    <li>Incidunt molestias numquam repellendus sunt?</li>
    <li>Doloremque maiores molestias obcaecati quam.</li>
    <li>Corporis cupiditate est totam veritatis.</li>
    <li>Delectus dicta excepturi impedit non.</li>
    <li>Autem error est nobis quidem!</li>
    <li>Autem illo maxime quibusdam unde!</li>
    <li>At expedita libero reprehenderit vero?</li>
    <li>Dolore hic laboriosam laudantium nihil?</li>
    <li>Alias commodi maiores non voluptates.</li>
    <li>Harum nisi non odio sed!</li>
    <li>Aspernatur commodi quam quisquam temporibus.</li>
    <li>Consequatur impedit modi totam ullam?</li>
    <li>Ab animi culpa eveniet unde?</li>
    <li>Magnam obcaecati quod sint unde.</li>
    <li>Assumenda optio placeat qui rerum?</li>
    <li>Labore maiores quisquam voluptate voluptatum.</li>
    <li>Culpa porro quo ratione unde.</li>
    <li>Iusto nam perferendis quos sunt?</li>
    <li>Magni nulla ratione rerum vero.</li>
    <li>Aliquam delectus molestias quam rem.</li>
    <li>Accusamus distinctio eius nobis quam?</li>
    <li>A dolor id modi non!</li>
    <li>Doloribus explicabo necessitatibus numquam obcaecati.</li>
{% endblock %}